@{
    ViewBag.Title = "Todo Instrumento";
}

<div class="jumbotron">
    <h1>Todo Instrumento</h1>
    <p class="lead">Todo instrumento es una página para registrar el stock de instrumentos!!</p>
    <p><a href="https://listado.mercadolibre.com.ar/instrumentos-musicales#D[A:instrumentos%20musicales]" class="btn btn-primary btn-lg">Comprar Instrumento &raquo;</a></p>
</div>

<div class="row">
    <img src="@Url.Content("~/Content/tienda.jpg")"/>
</div>